langchain
ipykernel
python-dotenv
langchain_community
pypdf
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit   
langchain_groq
langchain_chroma
bs4
arxiv
wikipedia
duckduckgo-search
flask
validators==0.28.1
youtube_transcript_api
pytube
unstructured
huggingface_hub
psycopg2-binary==2.9.6